
.descricao {
	width: 100%;
	background-color: rgba(186, 192, 190, 0.096);
	display: inline_block;
	padding-left: 8vw;;
	padding-bottom: 4vh;
	padding-top: 4vh;
}    

.fotodescricao {
    display: inline-block;
    width: 350px;
	padding-bottom: 4vh;
    
}    

#containerdescricao {
    display: inline-block;
    width: 40vw;
	padding-top: 4vh;
	position:absolute;
		
} 

#containermenor {
	width: 40vw;
	padding-bottom: 10vh;
	padding-left: 6vw;
	display: inline-block;
	width: 40vw;
}

#titulodescricao {
	padding-left: 2vw;
	
}

#precodescricao {
	padding-left: 2vw;
}

#textodescricao {
	width: 30vw;
	padding: 2vw;
	font-size: 20px;
	
}

#titulosimilares {
	font-size: 22px;
}

#produtossimilares li {
	display: inline-block;
	text-align: center;
	width: 230px;
	vertical-align: top;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 1rem;
}

.fotoproduto {
	width: 170px;
}

.similar a {
	text-decoration: none;
}

@media screen and (max-width: 1281px) {
	
	.descricao {
		padding: 0;
		padding-left: 1vw;
	}

	.fotodescricao {
		margin-left: 15vw;
	}
	
	#produtossimilares {
		padding: 0;
		margin: 0;
		
	}

}	



@media screen and (max-width: 541px) {

	.descricao {
		padding-left: 2vw;;
		padding-bottom: 4vh;
		
	}    
	
	
	#containerdescricao {
		width: 100vw;
		padding: 0;
		margin: 0;
				
	} 

	.fotodescricao {
		margin-top: 0;
		width: 100px;
		padding-left: 0;
		margin-left: 3px;
		padding-bottom: 3vh;
		
	}   
	
	#containermenor {
		width: 60vw;
		margin-top: 0;
		padding: 0;
		padding-left: 1vw;
						
	}
	
	#titulodescricao {
		padding: 0;
		font-size: 16px;
		margin: 0;
		
	}
	
	#precodescricao {
		padding-left: 2vw;
		width: 10px;
		
	}
	
	#textodescricao {
		width: 50vw;
		padding: 1vw;
		font-size: 12px;
	
	}

	#produtossimilares {
		display: block;
		
	}
	
	#titulosimilares {
		font-size: 16px;
	}

	

	#produtossimilares li {
		display: inline-block;
		text-align: center;
		width: 125px;
		vertical-align: top;
		box-sizing: border-box;
		padding: 1rem;
		padding-top: 1rem;
	}
	
	.fotoproduto {
		width: 120px;
	}
	
	.similar a {
		text-decoration: none;
	}
	

}	

