body {
    background-color: rgba(137, 148, 148, 0.103);
}

#adicionarimagens {
   display: inline-block;
   width: 80vw;
   padding: 5vw;
   padding-bottom: 1vw;
}

#tituloadicionar {
    padding-left: 15vw;
    font-size: 36px;
    font-weight: bold;
}

#caixaupload {
	background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
	width: 50%;
	max-width: 300px;
    display: inline-block;
    margin-left: 15vw;
	
}

#caixaupload label.label-upload{
	border: none;
	min-height: 150px;
	text-align: center;
	width: 100%;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #04090cb7;
	position: relative;
	
}

#ou {
    display: inline-block;
    padding: 1vw;
}

#adicionarimagem2 {
    display: inline-block;
    padding: 2vw;
    color: blue;
    border: 1px solid;
    border-color: blue;
}

input[type="file"] { 
    display: none;    /*fiz isto para sumir um botao padrao que tinha com uma mensagem */
}

.formadicionar {
    display: block;
    padding: 2px;
    margin-left: 20vw;

}

.nomepreco {
    display: block;
    margin-bottom: 1vh;
    width: 46vw;
}

#produtotexto {
    width: 46vw;
    padding-bottom: 4vw;
    margin-bottom: 1vh;
}

.botaoadiciona {
    display: block;
    width: 46vw;
    color: #ffffff;
    background-color: blue;
    border: none;
    padding: 0.5vw;
    margin-bottom: 3vh;
}

.botaoadicionaimagem {
    display: block;
    width: 30vw;
    color: #ffffff;
    background-color: blue;
    border: none;
    padding: 0.5vw;
    margin-left: 20vw ;
}

@media screen and (max-width: 1200px) {
    
    #tituloadicionar {
        font-size: 25px;
        margin-left: 4vw;
        padding-left: 1px;
        padding: 3px;
        width: 50vw;
  
    }

    #caixaupload {
        padding: 0;
        margin-top: 0;
        margin-left: 4.6vw;
        width: 50%;
        height: 18vh;

    }

    #adicionarimagem2 {
        width: 25vw;
        font-size: 16px;
        padding: 1vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
      
    }

    .formadicionar {
        margin-left: 9vw;
        
    }

    .nomepreco {
        width: 70vw;
    }

    #produtotexto {
        width: 70vw;
        
    }

    .botaoadiciona {
        width: 70vw;
    }

}


@media screen and (max-width: 420px) {

    #tituloadicionar {
        font-size: 20px;
        margin-left: 1px;
        padding-left: 1px;
     
    }

    #caixaupload {
        padding: 0;
        margin-top: 0;
        margin-left: 1px;
        width: 50%;
        height: 18vh;
        


    }

    #adicionarimagem2 {
        width: 25vw;
        font-size: 14px;
        padding: 0.4vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        
    }



}
