/* pagina principal */

/*banner*/

#banner {
	width: 100%;
}

#botaobanner {
	background-color: rgb(62, 62, 179);
	padding: 0.1rem;
	color: #ffffff;
	position: absolute;
	left: 4vw;
	top: 13vh;
}

#texto1 {
	position: absolute;
	left: 4vw;
	top: 9vh;
	color: #ffffff;
	font-size: 0.9rem;
}

#texto2 {
	position: absolute;
	left: 4vw;
	top: 11vh;
	color: #ffffff;
	font-size: 0.8rem;
}

/*parte dos produtos*/

.categoria {
	position: absolute;
	left: 3vw;
	font-size: 1.8rem;
	margin-bottom: 0.7rem;

}

.vertudo {
	position: absolute;
	right: 3vw;
	color: blue;
}

.produtos {
	width: 80%;
	margin: 0 auto;
	align: center;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 150px;
	vertical-align: top;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 2rem;
}

.fotoproduto {
	widht: 100%;
	align: center;
}

.fotoproduto:hover {
	transform: scale(1.1);
}

/*este abaixo é pra tirar o sublinhado do link que vem por padrão*/
.lista a {
	text-decoration: none;
}



.verproduto{
	color:blue;
	font-weight: bold;
}


/* página do login.html */

#iniciosessao {
	widht: 100%;
	background-color: rgba(186, 192, 190, 0.096);
	padding-left: 2vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	
}

#email {
	margin: 1vh;
}

#senha {
	margin: 1vh;
}

#Entrar {
	display: block;
	margin-top: 1vh;
	margin: 1vh;
	background-color: rgba(0, 0, 255, 0.719);
	border: none;
	color:#ffffff;
	padding: 1vh;
}

/*responsividade de todas paginas*/

@media screen and (max-width: 1800px)  {
	
	#botaobanner {
		left: 4vw;
		top: 40vh;
		
	}
	
	#texto1 {
		position: absolute;
		left: 4vw;
		top: 34vh;
		color: #ffffff;
		font-size: 1.1rem;
	}
	
	#texto2 {
		position: absolute;
		left: 4vw;
		top: 36.5vh;
		color: #ffffff;
		font-size: 1rem;
	}

	.categoria {
		position: absolute;
		left: 4vw;
		font-size: 1.8rem;
		margin-bottom: 30px;
	}

	.vertudo {
		position: absolute;
		right: 5vw;
		color: blue;
	}

	.produtos {
		width: 90%;
		align: center;
	}

	.produtos li {
		display: inline-block;
		text-align: center;
		width: 200px;
		vertical-align: top;
		margin-top: 20px;
		padding: 2vh 2vw;
		box-sizing: border-box;
	}

	.fotoproduto {
		width: 130%;
		align: center;
	}

	
	/*pagina login */
	#iniciosessao {
		widht: 100%;
		background-color: rgba(186, 192, 190, 0.096);
		padding-left: 40vw;
		padding-top: 8vh;
		padding-bottom: 8h;

	}

	#formlogin {
		width: 80%;
	}	

	#textoiniciarsessao {
		margin: 1vw;
	}
	
	.input-padrao {
		display: block;
		padding: 0.6vw;
		margin: 0;
		margin-bottom: 1vh;

	}

	#Entrar {
		display: block;
		margin-top: 1vh;
		margin: 2vh;
	}

}

@media screen and (max-width: 1024px) {
		
	.categoria {
		font-size: 1.15rem;
		font-weight: bold;
	}

	.produtos li {
		display: inline-block;
		text-align: center;
		width: 200px;
	}	

	.vertudo {
		position: absolute;
		right: 7vw;
	}

	/*pagina login.html */
	
	#iniciosessao {
		padding: 5vw;
		padding-left: 30vw;
	}

	#textoiniciarsessao {
		padding-left: 2vw;
	}

	.input-padrao {
		display: block;
		padding: 0.6vw;
		margin: 0;
		margin-bottom: 1vh;

	}

	#Entrar {
		margin-top: 0.5vh;
	}

}


@media screen and (max-width: 415px)  {
	
	#botaobanner {
		position: absolute;
		left: 6vw;
		top: 13vh;
		
	}
	
	#texto1 {
		position: absolute;
		left: 6vw;
		top: 8vh;
	}	
	
	#texto2 {
		position: absolute;
		left: 4vw;
		top: 10vh;
	}	

	.categoria {
		position: absolute;
		left: 6vw;
		margin-bottom: 15px;
	}
	
	.produtos {
		width: 100%;
		align: center;
	}

	.produtos li {
		display: inline-block;
		text-align: center;
		width: 180px;
	}

	.fotoproduto {
		width: 95%;
	}


}

@media screen and (max-width: 415px)  {

	.produtos li {
		display: inline-block;
		text-align: center;
		width: 160px;
	}

	/*pagina login*/
	
	#iniciosessao {
		padding: 4vw;
		padding-left: 12vw;
	}
	
	.formlogin {
		margin: 0;
		padding: 1vh;
		
	}

	#textoiniciarsessao {
		padding-left: 4vw;
	}
	
	#Entrar {
		width: 50vw;
	}	

}	


@media screen and (max-width: 281px)  {

	#botaobanner {
		position: absolute;
		top: 13vh;
		left: 1vh;
			
	}

	
	.produtos {
		width: 100%;
	}

	.categoria {
		font-size: 1rem;
	}

	.produtos li {
		display: inline-block;
		text-align: center;
		width: 120px;
		vertical-align: top;
		margin-top: 20px;
		padding: 1vh 1vw;
		box-sizing: border-box;
	}

	#iniciosessao {
		padding-left: 9vw;
	}

}	
